<form [formGroup]="form">
    <div class="container mt-5">
        <div class="input-group mb-3">
            <input formControlName="txtFiltro" type="text" class="form-control left-text" placeholder="Número de cédula o nombre para buscar" aria-describedby="button-addon2">
            <button (click)="FiltrarEmpleado()" class="btn btn-primary left-text" type="button" id="button-addon2">Buscar</button>
          </div>
        <table class="table table-striped table-hover">
            <thead class="center-text">
                <tr>
                    <th hidden>Id</th>
                    <th>Cedula</th>
                    <th>Nombre completo</th>
                    <th>Sexo</th>
                    <th>Fecha nacimiento</th>
                    <th>Edad a la fecha</th>
                    <th>Salario</th>
                    <th>Vacuna Covid</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody class="left-text">
                <tr *ngFor="let empleado of listEmpleados">
                    <td hidden>{{empleado.id}}</td>
                    <td>{{empleado.cedula}}</td>
                    <td>{{empleado.nombre}}</td>
                    <td>{{empleado.sexo}}</td>
                    <td>{{empleado.fechaNacimiento | date:'d/MM/YYYY'}}</td>
                    <td>{{GetEdad(empleado.fechaNacimiento)}}</td>
                    <td>{{empleado.salario | currency}}</td>
                    <td>{{empleado.vacunaCovid}}</td>
                    <td>
                        <i (click)="EditarEmpleado(empleado)"  class="far fa-edit"></i>
                        
                        &nbsp;&nbsp;
                        <i (click)="EliminarEmpleado(empleado.id)" class="far fa-trash-alt"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row justify-content-between">
            <div class="col-4">
                <label class="form-label left-text">Total de empleados:</label>
                &nbsp;
                <label class="form-label left-text">{{listEmpleados.length}}</label>
                <br>
                <label class="form-label left-text">Total salarios:</label>
                &nbsp;
                <label class="form-label left-text">{{GetTotalSalarios() | currency}}</label>
            </div>
        </div>    
    </div>
</form>