<div class="container mt-4">
    <div class="col-4">
        <button (click)="onPress()" class="btn btn-primary left-text" *ngIf="displayEmpleado">Lista empleados</button>
        <button (click)="onPress()" type="button" class="btn btn-primary left-text" *ngIf="displayLista">Nuevo
            empleado</button>
    </div>
    <div class="col-2">

    </div>
    <app-listado-empleados [listEmpleados]="listEmpleados"
        (onEliminarEmpleado)="EliminarEmpleado($event)" (onEditarEmpleado)="EditarEmpleado($event)"
        (onActualizarEmpleado)="ActualizarEmpleado($event)" (onFiltrarEmpleado) = "ObtenerEmpleados($event)"
        *ngIf="displayLista">
    </app-listado-empleados>
    <div id="comp-render" *ngIf="displayEmpleado">
        <app-registro-empleado [onEdit]="onEdit" [empleado]="empleadoEdit" (onRegistrarEmpleado)="GetEmpleado($event)" (onEditarEmpleado)="ActualizarEmpleado($event)"></app-registro-empleado>
    </div>
</div>